#vid {
	text-align: center;
	padding-left: 20%;
}
#frmvid {
	background-image: url(img/musik.png);
	background-position: 100px 0px;
	background-attachment: fixed;
	border: double gray 5px;
	width: 60%;
	border-radius: 2px;
	margin: 30px auto;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: ;
	font-weight: normal;
	letter-spacing: .1em;
	margin-bottom: 1em; 
	line-height: 125%;
	text-decoration: underline;
}
.slide-container {
    width: 225px;
    height: 225px;
 
}
.image-container {
    width: 675px;
    height: 225px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
} 
.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
}
.button-container {
    top: -20px;
    position: relative;
}
.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white; 
}
#slider-image-1: target ~ .image-container{
    left: 0px;
}
#slider-image-2: target ~ .image-container{
    left: -800px;
}
#slider-image-3: target ~ .image-container{
    left: -1600px;
}
.celeb {
	align-self: center;
}